@inject HttpClient HttpClient


<ListTemplate Loader="@LoadRssFeed">
    <LoadingContent>
        <div class="spinner-border text-primary text-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </LoadingContent>
    <EmptyContent>
        <div class="card border-danger mb-3">
            <div class="card-body">
                <p class="card-text">No rss data...</p>
            </div>
        </div>
    </EmptyContent>
    <ItemContent Context="item">
        <div @key="item" class="card mb-2">
            <img src="@item.Enclosure" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text"><small class="text-muted">@item.PublishDate</small></p>
            </div>
            <a class="stretched-link" href="@item.Link"></a>
        </div>
    </ItemContent>
</ListTemplate>


@code {

    async Task<List<RssMil>> LoadRssFeed()
    {
        return await HttpClient.GetJsonAsync<List<RssMil>>(ApiRoutes.Rss.MILNEWS);
    }

}
