@inject HttpClient HttpClient


<ListTemplate Loader="@LoadNotes">
    <LoadingContent>
        <div class="spinner-border text-primary text-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </LoadingContent>
    <EmptyContent>
        <div class="card border-danger mb-3">
            <div class="card-body">
                <p class="card-text">новостей нет</p>
            </div>
        </div>
    </EmptyContent>
    <ItemContent Context="item">
        <div @key="item" class="card border-@item.CssTypeView.Value mb-2">
            <div class="card-body text-@item.CssTypeView.Value">
                <h5 class="card-title">@item.Title</h5>
                <span class="card-text">@item.Content</span>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="media col-8">
                        <img src="@item.AppUserView.Avatar" class="rounded-circle mr-3" style="width: 3rem;">
                        <div class="media-body">
                            <p class="mb-0">@item.AppUserView.FirstName @item.AppUserView.LastName</p>
                            <p class="card-text">
                                <small class="text-muted">Опубликовано: @item.PublishDate</small>
                                @if (item.UpdateDate.HasValue)
                                {
                                    <small class="text-muted">Обновлено: @item.UpdateDate.Value</small>
                                }
                            </p>
                        </div>
                    </div>                  
                </div>
            </div>
            <a class="stretched-link" href="/article/show/@item.NoteId"></a>
        </div>
    </ItemContent>
</ListTemplate>


@code {

    async Task<List<NoteAppUserCssTypeView>> LoadNotes()
    {
        return await HttpClient.GetJsonAsync<List<NoteAppUserCssTypeView>>(ApiRoutes.Note.ALL);
    }

}
