@inject HttpClient HttpClient


<ForeachTemplate Loader="@LoadArticles">
    <LoadingContent>
        <div class="spinner-border text-primary text-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </LoadingContent>
    <EmptyContent>
        <div class="card border-danger mb-3">
            <div class="card-body">
                <p class="card-text">новостей нет</p>
            </div>
        </div>
    </EmptyContent>
    <ItemContent Context="item">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Content</p>
                <div class="media">
                    <img src="@item.Author.PhotoUrl" class="rounded-circle mr-3" style="width: 3rem;">
                    <div class="media-body">
                        <h5 class="mt-0">@item.Author.LastName</h5>
                        <p class="card-text"><small class="text-muted"> @item.PublishDate</small></p>
                    </div>
                </div>
            </div>
        </div>
    </ItemContent>
</ForeachTemplate>


@code {

    async Task<List<Article>> LoadArticles()
    {
        return await HttpClient.GetJsonAsync<List<Article>>("api/articles/all");
    }
}
