@page "/accountmanager"

@using Newtonsoft.Json

@inject HttpClient HttpClient
@inject IMatToaster Toaster

<h2 class="col-12 mb-4 text-center">Пользователи</h2>

<div class="row mb-5">
    <MatButton Outlined="true" Icon="add" OnClick="@OpenNewUserDialog" Label="Добавить пользователя" />
</div>
<div class="row">
    <div class="col-6">
        <h2 class="text-center">Активные учетные записи</h2>
        @if (UsersIdentity is null)
        {
            <div class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (UsersIdentity.Count == 0)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">No users...</p>
                </div>
            </div>
        }
        else
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Логин</th>
                        <th scope="col">Ф.И.О.</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @foreach (var user in UsersIdentity)
                {
                    <tr>
                        <td>@user.AppUserId</td>
                        <td>@user.UserName</td>
                        <td>@user.DisplayName</td>
                        <td><MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenEditUserDialog(user.UserName))" Label="Удалить" /></td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="col-6">
        <h2 class="text-center">Архивные учетные записи</h2>
        @if (disabledUsers is null)
        {
            <div class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (disabledUsers.Count == 0)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">No users...</p>
                </div>
            </div>
        }
        else
        {
            <table class="table">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Ф.И.О.</th>
                    </tr>
                </thead>
                @foreach (var user in disabledUsers)
                {

                    <tr>
                        <td>@user.AppUserId</td>
                        <td>@user.DisplayName</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<EditForm Model="@LdapUser">
    <MatDialog @bind-IsOpen="@newUserDialogIsOpen">
        <MatDialogTitle>Выберете пользователя</MatDialogTitle>
        <MatDialogContent>
            <MatSelect @bind-Value="@LdapUser.UserName" Outlined="true">
                @if (LdapUsers is null)
                {
                    <MatOption Value="">(loading...)</MatOption>
                }
                else
                {
                    <MatOption Value="-1" Disabled="true" />
                    @foreach (var user in LdapUsers)
                    {
                        <MatOption Value="@user.UserName">@user.DisplayName</MatOption>
                    }
                }
            </MatSelect>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newUserDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@(() =>AddAccount(LdapUser.UserName))" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>

@if (User is { })
{
    <EditForm Model="@User">
        <MatDialog @bind-IsOpen="@editUserDialogIsOpen">
            <MatDialogTitle>Удалить пользователя @User.DisplayName?</MatDialogTitle>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { editUserDialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="delete_forever" Type="submit" OnClick="@(() => Delete(User.UserName))" Label="Да" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

@code {

    private List<LdapUser> LdapUsers { get; set; }
    private List<AppUserIdentity> UsersIdentity { get; set; }
    private AppUserIdentity User { get; set; }
    private LdapUser LdapUser { get; set; } = new LdapUser();
    List<AppUser> disabledUsers;

    bool editUserDialogIsOpen = false;
    bool newUserDialogIsOpen = false;


    protected async override Task OnInitializedAsync()
    {
        disabledUsers = await HttpClient.GetJsonAsync<List<AppUser>>("api/users/all/disabled");
        UsersIdentity = await HttpClient.GetJsonAsync<List<AppUserIdentity>>("api/account/identity/all");
        LdapUsers = await HttpClient.GetJsonAsync<List<LdapUser>>("api/account/ldap/all");
    }

    void OpenNewUserDialog()
    {
        newUserDialogIsOpen = true;
    }

    async Task AddAccount(string userName)
    {
        newUserDialogIsOpen = false;
        var newUser = LdapUsers.FirstOrDefault(u => u.UserName == userName);
        var jsonContent = JsonConvert.SerializeObject(newUser);
        var buffer = System.Text.Encoding.UTF8.GetBytes(jsonContent);
        var byteContent = new ByteArrayContent(buffer);
        byteContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");

        var response = await HttpClient.PostAsync("api/account/identity/add", byteContent);
        var content = await response.Content.ReadAsStringAsync();
        UsersIdentity.Add(JsonConvert.DeserializeObject<AppUserIdentity>(content));
        Toaster.Add($"Пользователь успешно добавлен в систему", MatToastType.Success, "Успех!");
        StateHasChanged();
    }

    void OpenEditUserDialog(string userName)
    {
        editUserDialogIsOpen = true;
        User = UsersIdentity.FirstOrDefault(ui => ui.UserName == userName);
    }

    async Task Delete(string userName)
    {
        editUserDialogIsOpen = false;
        UsersIdentity.Remove(User);
        var response = await HttpClient.DeleteAsync($"api/account/identity/delete/{userName}");
        var content = await response.Content.ReadAsStringAsync();
        disabledUsers.Add(JsonConvert.DeserializeObject<AppUser>(content));
        Toaster.Add($"Пользователь удален", MatToastType.Warning, "Внимание!");
    }

}