@page "/catalog"

@attribute [Authorize(Roles = AuthRole.ADMIN)]


<h2 class="col-12 mb-4 text-center">Справочники</h2>

<div class="row mb-2">
    <div class="col-4">
        <MatButton Outlined="true" Icon="add" OnClick="@(e => { newDepartmentDialogIsOpen = true; })" Label="подразделение" />
    </div>
    <div class="col-4">
        <MatButton Outlined="true" Icon="add" OnClick="@(e => { newBuildingDialogIsOpen = true; })" Label="здание" />
    </div>
    <div class="col-4">
        <MatButton Outlined="true" Icon="add" OnClick="@(e => { newSiteSectionDialogIsOpen = true; })" Label="раздел сайта" Class="mb-2" />
        <MatButton Outlined="true" Icon="add" OnClick="@(e => { newSiteSubSectionDialogIsOpen = true; })" Label="подраздел сайта" />
    </div>
</div>
<div class="row mb-2">
    <div class="col-4">
        @if (departments is null)
        {
            <div class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (departments.Count == 0)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">Список пуст</p>
                </div>
            </div>
        }
        else
        {
            <ul class="list-group">
                <li class="list-group-item"><MatIcon Icon="work" />Список подразделений</li>
                @foreach (var department in departments)
                {
                    @if (!department.IsVisible)
                    {
                        ListCssClass = "list-group-item-danger";
                    }
                    else
                    {
                        ListCssClass = null;
                    }

                    <li class="list-group-item @ListCssClass" @key="department">
                        @department.Name
                        <MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenEditDepartmentDialog(department))" Class="float-right" />
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-4">
        @if (buildings is null)
        {
            <div class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (buildings.Count == 0)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">Список пуст</p>
                </div>
            </div>
        }
        else
        {
            <ul class="list-group">
                <li class="list-group-item"><MatIcon Icon="location_city" />Список зданий</li>
                @foreach (var building in buildings)
                {
                    <li class="list-group-item" @key="building">
                        @building.Name
                        <MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenEditBuildingDialog(building))" Class="float-right" />
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-4">
        @if (siteSections is null)
        {
            <div class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (siteSections.Count == 0)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">Список пуст</p>
                </div>
            </div>
        }
        else
        {
            <ul class="list-group">
                <li class="list-group-item"><MatIcon Icon="language" />Официальный сайт</li>
                @foreach (var siteSection in siteSections)
                {
                    <li class="list-group-item">
                        @siteSection.Name
                        <MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenEditSiteSectionDialog(siteSection))" Class="float-right" />
                    </li>
                    @if (siteSection.SiteSubsections is { })
                    {
                        @foreach (var siteSubSection in siteSection.SiteSubsections)
                        {
                            <li class="list-group-item" style="padding-left: 60px;">
                                @siteSubSection.Title
                                <span class="text-right">
                                    <MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenEditSiteSubSectionDialog(siteSubSection))" Class="float-right" />
                                </span>
                            </li>
                        }
                    }
                }
            </ul>
        }
    </div>
</div>
<div class="row mb-2">
    <div class="col-4">
        <MatButton Outlined="true" Icon="add" OnClick="@(e => { newCssTypeDialogIsOpen = true; })" Label="тип новости" />
    </div>
</div>
<div class="row">
    <div class="col-4">
        @if (cssTypes is null)
        {
            <div class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (cssTypes.Count == 0)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">Список пуст</p>
                </div>
            </div>
        }
        else
        {
            <ul class="list-group">
                <li class="list-group-item"><MatIcon Icon="work" />Список</li>
                @foreach (var cssType in cssTypes)
                {
                    <li class="list-group-item list-group-item-@cssType.Value" @key="cssType">
                        @cssType.Name
                        <MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenEditCssTypeDialog(cssType))" Class="float-right" />
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>


<EditForm Model="@NewDepartment">
    <MatDialog @bind-IsOpen="@newDepartmentDialogIsOpen">
        <MatDialogTitle>Новое подразделение</MatDialogTitle>
        <MatDialogContent>
            <MatTextField Label="Подразделение" @bind-Value="@NewDepartment.Name"></MatTextField>
            <label>Отображать в меню</label>
            <MatSlideToggle @bind-Checked="@NewDepartment.IsVisible"></MatSlideToggle>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newDepartmentDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@AddNewDepartment" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>

@if (currentDepartment is { })
{
    <EditForm Model="@currentDepartment">
        <MatDialog @bind-IsOpen="@editDepartmentDialogIsOpen">
            <MatDialogTitle>Редактировать подразделение</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Подразделение" @bind-Value="@DepatrmentName"></MatTextField>
                <label>Отображать в меню</label>
                <MatSlideToggle @bind-Checked="@currentDepartment.IsVisible"></MatSlideToggle>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@CancelUpdateDepartment" Label="Отмена" />
                <MatButton Icon="" Type="submit" OnClick="@(() => UpdateDepartment())" Label="Обновить" />
                <MatButton Icon="delete_forever" OnClick="@(() => DeleteDepartment())" Label="Удалить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

<EditForm Model="@NewBuilding">
    <MatDialog @bind-IsOpen="@newBuildingDialogIsOpen">
        <MatDialogTitle>Новое здание</MatDialogTitle>
        <MatDialogContent>
            <MatTextField Label="Подразделение" @bind-Value="@NewBuilding.Name"></MatTextField>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newBuildingDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@AddNewBuilding" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>

@if (currentBuilding is { })
{
    <EditForm Model="@currentBuilding">
        <MatDialog @bind-IsOpen="@editBuildingDialogIsOpen">
            <MatDialogTitle>Редактировать здание</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Название" @bind-Value="@BuildingName"></MatTextField>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@CancelUpdateBuilding" Label="Отмена" />
                <MatButton Icon="" Type="submit" OnClick="@(() => UpdateBuilding())" Label="Обновить" />
                <MatButton Icon="delete_forever" OnClick="@(() => DeleteBuilding())" Label="Удалить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

<EditForm Model="@NewSiteSection">
    <MatDialog @bind-IsOpen="@newSiteSectionDialogIsOpen">
        <MatDialogTitle>Новый раздел сайта</MatDialogTitle>
        <MatDialogContent>
            <MatTextField Label="Название" @bind-Value="@NewSiteSection.Name"></MatTextField>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newSiteSectionDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@AddNewSiteSection" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>

@if (currentSiteSection is { })
{
    <EditForm Model="@currentSiteSection">
        <MatDialog @bind-IsOpen="@editSiteSectionDialogIsOpen">
            <MatDialogTitle>Редактировать раздел сайта</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Название" @bind-Value="@SiteSectionName"></MatTextField>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@CancelUpdateSiteSection" Label="Отмена" />
                <MatButton Icon="" Type="submit" OnClick="@(() => UpdateSiteSection())" Label="Обновить" />
                <MatButton Icon="delete_forever" OnClick="@(() => DeleteSiteSection())" Label="Удалить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

<EditForm Model="@NewSiteSubSection">
    <MatDialog @bind-IsOpen="@newSiteSubSectionDialogIsOpen">
        <MatDialogTitle>Новый подраздел сайта</MatDialogTitle>
        <MatDialogContent>
            <label>Раздел сайта</label>
            <select class="custom-select" @bind="@dropDownSiteSectionId">
                @if (siteSections is null)
                {
                    <option selected>(loading...)</option>
                }
                else
                {
                    <option selected>--- Выберите раздел сайта ---</option>
                    @foreach (var siteSection in siteSections)
                    {
                        <option value="@siteSection.SiteSectionId">@siteSection.Name</option>
                    }
                }
            </select>
            <MatTextField Label="Название" @bind-Value="@NewSiteSubSection.Title"></MatTextField>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newSiteSubSectionDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@AddNewSiteSubSection" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>

@if (currentSiteSubSection is { })
{
    <EditForm Model="@currentSiteSubSection">
        <MatDialog @bind-IsOpen="@editSiteSubSectionDialogIsOpen">
            <MatDialogTitle>Редактировать подраздел сайта</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Название" @bind-Value="@SiteSubSectionName"></MatTextField>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@CancelUpdateSiteSubSection" Label="Отмена" />
                <MatButton Icon="" Type="submit" OnClick="@(() => UpdateSiteSubSection())" Label="Обновить" />
                <MatButton Icon="delete_forever" OnClick="@(() => DeleteSiteSubSection())" Label="Удалить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}


<EditForm Model="@NewCssType">
    <MatDialog @bind-IsOpen="@newCssTypeDialogIsOpen">
        <MatDialogTitle>Новый тип объявления</MatDialogTitle>
        <MatDialogContent>
            <MatTextField Label="Название" @bind-Value="@NewCssType.Name"></MatTextField>
            <MatTextField Label="Значение" @bind-Value="@NewCssType.Value"></MatTextField>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newCssTypeDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@AddNewCssType" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>

@if (currentCssType is { })
{
    <EditForm Model="@currentCssType">
        <MatDialog @bind-IsOpen="@editCssTypeDialogIsOpen">
            <MatDialogTitle>Редактировать тип объявления</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Название" @bind-Value="@currentCssType.Name"></MatTextField>
                <MatTextField Label="Значение" @bind-Value="@currentCssType.Value"></MatTextField>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@CancelUpdateCssType" Label="Отмена" />
                <MatButton Icon="" Type="submit" OnClick="@(() => UpdateCssType())" Label="Обновить" />
                <MatButton Icon="delete_forever" OnClick="@(() => DeleteCssType())" Label="Удалить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}
