@page "/dutymanager"

@attribute [Authorize(Roles = AuthRoles.ADMIN_KADRY)]

@using PetrpkuWeb.Client.Extensions

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject IMatToaster Toaster

<h2 class="col-12 mb-4 text-center">График дежурства руководящего состава ППКУ на @title.ToString("MMMM yyyy").ToLower() г.</h2>
<div class="alert alert-danger" role="alert">
    <p>В печатную форму попадают следующие поля: фамилия, имя, отчество, подразделение, должность, моб.телефон</p>
</div>
<div class="row mb-2">
    <div class="col-9 border-right">
        @if (ListOfDuty is { })
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <MatTooltip Tooltip="Сортировать по дате" TargetId="SpanTooltip">
                                <span id="SpanTooltip" @onclick="@(() => SortTable("DayOfDuty"))">Дата</span>
                                <MatIcon Icon="@(GetSortStyle("DayOfDuty"))" />
                            </MatTooltip>
                        </th>
                        <th scope="col">Ф.И.О.</th>
                        <th scope="col">Подразделение</th>
                        <th scope="col">Должность</th>
                        <th scope="col">Телефон</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dutyUser in ListOfDuty)
                    {
                        <tr @key="dutyUser">
                            <th scope="row">@dutyUser.DayOfDuty.Day</th>
                            <td>@dutyUser.AppUserView.LastName @dutyUser.AppUserView.FirstName @dutyUser.AppUserView.MidleName</td>
                            <td>@dutyUser.AppUserView.DepartmentView.Name</td>
                            <td>@dutyUser.AppUserView.WorkingPosition</td>
                            <td>@dutyUser.AppUserView.MobPhone</td>
                            <td><MatButton Outlined="true" Icon="delete_forever" OnClick="@(() => RemoveDutyUser(dutyUser))" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div class="col-12 md-2">
            <MatButton Raised="true" Icon="save_alt" OnClick="@(() => DownloadFile(PikDate.Value.Month, PikDate.Value.Year))" Label="Скачать" />
        </div>
    </div>
    <div class="col-3">
        <div class="row mb-2">
            <div class="col-12">
                <MatDatePicker Label="Выберите месяц" Outlined="true" @bind-Value="PikDate" DateFormat="d-m-Y" />
            </div>
        </div>
        <div class="row mb-4 border-bottom">
            <div class="col-12 mb-4">
                <MatButton Raised="true" Icon="calendar_today" OnClick="@(() => GetCalendarAsync(PikDate.Value.Month, PikDate.Value.Year))" Label="Применить" />
            </div>
        </div>
        <div class="row">
            <EditForm Model="@DutyAppointment" OnValidSubmit="@AddDuty" OnInvalidSubmit="@(() => Toaster.Add("Выберите дату и назначте дежурного",MatToastType.Danger,"Ошибка!"))">
                <div class="col-12">
                    <DataAnnotationsValidator />
                </div>
                <div class="col-12 mb-2">
                    <MatSelect Label="Дата" @bind-Value="DutyAppointment.Day" Outlined="true">
                        @if (listOfDays is null)
                        {
                            <MatOption Value="">(loading...)</MatOption>
                        }
                        else
                        {
                            <MatOption Value="-1" Disabled="true" />
                            @foreach (var day in listOfDays)
                            {
                                <MatOption Value="@day.Day.ToString()">@day.Day</MatOption>
                            }
                        }
                    </MatSelect>
                    <ValidationMessage For="() => DutyAppointment.Day" />
                </div>
                <div class="col-12 mb-2">
                    <MatSelect Label="Дежурный" @bind-Value="DutyAppointment.User" Outlined="true">
                        @if (users is null)
                        {
                            <MatOption Value="">(loading...)</MatOption>
                        }
                        else
                        {
                            <MatOption Value="-1" Disabled="true" />
                            @foreach (var user in users)
                            {
                                <MatOption Value="@user.Id">@user.DisplayName - @user.WorkingPosition</MatOption>
                            }
                        }
                    </MatSelect>
                    <ValidationMessage For="() => DutyAppointment.User" />
                </div>
                <div class="col-12 mb-2">
                    <MatButton Raised="true" Icon="add" Type="submit" Label="Добавить" />
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {

    public DateTime? PikDate { get; set; } = DateTime.Now;

    private List<DutyAppUserView> ListOfDuty { get; set; } = new List<DutyAppUserView>();
    private DutyAppointmentView DutyAppointment { get; set; } = new DutyAppointmentView();

    List<DateTime> listOfDays;
    List<AppUserDepartmentBuildingView> users;
    DateTime title = DateTime.Now;

    bool isSortedAscending;
    string currentSortColumn;


    protected async override Task OnInitializedAsync()
    {
        var year = PikDate.Value.Year;
        var month = PikDate.Value.Month;

        await GetCalendarAsync(month, year);

        users = await HttpClient.GetJsonAsync<List<AppUserDepartmentBuildingView>>(ApiRoutes.Users.ALL_ACTIVE_DUTIES);
    }

    async Task GetCalendarAsync(int month, int year)
    {
        ListOfDuty = null;
        ListOfDuty = await HttpClient.GetJsonAsync<List<DutyAppUserView>>($"{ApiRoutes.Duty.MONTH}/{month}/{year}");

        listOfDays = Enumerable.Range(1, DateTime.DaysInMonth(year, month)).Select(day => new DateTime(year, month, day)).ToList();

        listOfDays.RemoveAll(r => ListOfDuty.Exists(d => d.DayOfDuty.Day == r.Day));
        title = PikDate.Value;
    }

    async Task RemoveDutyUser(DutyAppUserView dutyUser)
    {
        if (dutyUser.DutyId > 0)
        {
            var deleteDutyUser = ListOfDuty.Where(u => u.DutyId == dutyUser.DutyId).FirstOrDefault();
            await HttpClient.DeleteAsync($"{ApiRoutes.Duty.DELETE}/{deleteDutyUser.DutyId}");
            ListOfDuty.Remove(dutyUser);

            listOfDays.Add(dutyUser.DayOfDuty);
            listOfDays = listOfDays.OrderBy(d => d.Day).ToList();

            Toaster.Add($"{deleteDutyUser.AppUserView.DisplayName} снят с дежурства на {deleteDutyUser.DayOfDuty.ToShortDateString()}", MatToastType.Danger, "Внимание!");
        }
    }

    async Task AddDuty()
    {
        var year = PikDate.Value.Year;
        var month = PikDate.Value.Month;
        var day = Int32.Parse(DutyAppointment.Day);
        var id = DutyAppointment.User;
        var date = new DateTime(year, month, day);
        var findUser = users.Where(u => u.Id == id).FirstOrDefault();

        var duty = new DutyAppUserView()
        {
            DayOfDuty = date,
            AppUserView = findUser
        };

        ListOfDuty.Add(duty);
        listOfDays.Remove(duty.DayOfDuty);

        var response = await HttpClient.PostJsonAsync<DutyAppUserView>(ApiRoutes.Duty.CREATE, duty);
        DutyAppointment = new DutyAppointmentView();

        Toaster.Add($"{response.AppUserView.DisplayName} назначен дежурным на {response.DayOfDuty.ToShortDateString()}", MatToastType.Success, "Успех!");
    }

    async Task DownloadFile(int month, int year)
    {
        var file = await HttpClient.GetByteArrayAsync($"{ApiRoutes.Duty.GETFILE}/{month}/{year}");

        await JSRuntime.SaveAs($"Дежурные_на_{month}-{year}_{DateTime.Now.ToString("HH-mm-ss")}.docx", file);
    }

    #region Sort tabe methods
    void SortTable(string columnName)
    {
        if (ListOfDuty.Any())
        {

            if (columnName != currentSortColumn)
            {
                //We need to force order by descending on the new column
                ListOfDuty = ListOfDuty.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
                currentSortColumn = columnName;
                isSortedAscending = true;

            }
            if (isSortedAscending)
            {
                ListOfDuty = ListOfDuty.OrderByDescending(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }
            else
            {
                ListOfDuty = ListOfDuty.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }

            isSortedAscending = !isSortedAscending;
        }
    }

    string GetSortStyle(string columnName)
    {
        if (currentSortColumn != columnName)
        {
            return "sort";
        }
        if (isSortedAscending)
        {
            return "keyboard_arrow_up";
        }
        else
        {
            return "keyboard_arrow_down";
        }
    }

    #endregion
}
