@page "/usermanager"

@attribute [Authorize(Roles = AuthRole.ADMIN_KADRY)]


<div class="row mb-5">
    <MatButton Outlined="true" Icon="add" OnClick="@(e => { newUserDialogIsOpen = true; })" Label="Добавить пользователя" />
</div>

<div class="input-group mb-3 mt-3">
    <input type="text" class="form-control" @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeydown="@(e => SearchKeyDown(e))" placeholder="Введите критерии поиска. Поиск ведется по фамилии, подразделению, номеру внутреннего телефона" aria-label="Поиск сотрудника" aria-describedby="button-search" />
    <div class="input-group-append" id="button-search">
        <button class="btn btn-outline-secondary" type="button" @onclick="ClearButton">Очистить</button>
        <button class="btn btn-outline-secondary" type="button" @onclick="SearchButton">Найти</button>
    </div>
</div>

@if (filtredAppUsers is { })
{
    <div class="row mb-3">
        <h2 class="col-12 mb-4 text-center">Результаты поиска </h2>
        @if (filtredAppUsers.Count < 1)
        {
            <div class="card border-danger mb-3">
                <div class="card-body">
                    <p class="card-text">Пользователь не найден. Попробуйте другой критерий поиска. Поиск ведется по фамилии, подразделению, номеру внутреннего телефона  </p>
                </div>
            </div>
        }

        @if (filtredAppUsers.Any())
        {
            <table class="table table-sm table-hover">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Ф.И.О.</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">День рождения</th>
                        <th scope="col">Должность</th>
                        <th scope="col">Подразделение</th>
                        <th scope="col">Корпус</th>
                        <th scope="col">Кабинет</th>
                        <th scope="col">Внутр.номер</th>
                        <th scope="col">Гор.номер</th>
                        <th scope="col">Моб.телефон</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in filtredAppUsers)
                    {
                        <tr @key="user" class="table-success">
                            <td>@user.DisplayName</td>
                            <td>@user.LastName</td>
                            <td>@user.FirstName</td>
                            <td>@user.MidleName</td>
                            <td>@user.Birthday.ToShortDateString()</td>
                            <td>@user.WorkingPosition</td>
                            <td>@user.Department?.Name</td>
                            <td>@user.Building?.Name</td>
                            <td>@user.Room</td>
                            <td>@user.IntPhone</td>
                            <td>@user.ExtPhone</td>
                            <td>@user.MobPhone</td>
                            <td><MatButton Icon="edit" OnClick="@(() => OpenEditAppUserDialog(user.AppUserId))" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}

<div class="row">
    <h2 class="col-12 mb-4 text-center"> Редактирование пользователей</h2>
    @if (appUsersList is null)
    {
        <div class="spinner-border text-primary text-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    else if (appUsersList.Count == 0)
    {
        <div class="card border-danger mb-3">
            <div class="card-body">
                <p class="card-text">No users...</p>
            </div>
        </div>
    }
    else
    {
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">День рождения</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Подразделение</th>
                    <th scope="col">Корпус</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">Внутр.номер</th>
                    <th scope="col">Гор.номер</th>
                    <th scope="col">Моб.телефон</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in appUsersList)
                {
                    <tr @key="user">
                        <th scope="row">
                            @(appUsersList.IndexOf(user) + 1)

                        </th>
                        <td>
                            @user.DisplayName
                            @if (!user.IsActive)
                            {
                                <span class="badge badge-danger">Заблокирован</span>
                            }
                            @if (user.IsDuty)
                            {
                                <span class="badge badge-primary">Дежурный</span>
                            }
                        </td>
                        <td>@user.LastName</td>
                        <td>@user.FirstName</td>
                        <td>@user.MidleName</td>
                        <td>@user.Birthday.ToShortDateString()</td>
                        <td>@user.WorkingPosition</td>
                        <td>@user.Department?.Name</td>
                        <td>@user.Building?.Name</td>
                        <td>@user.Room</td>
                        <td>@user.IntPhone</td>
                        <td>@user.ExtPhone</td>
                        <td>@user.MobPhone</td>
                        <td><MatButton Icon="edit" Outlined="true" OnClick="@(() => OpenEditAppUserDialog(user.AppUserId))" /></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@if (editAppUser is { })
{
    <EditForm Model="@editAppUser">
        <MatDialog @bind-IsOpen="@editAppUserDialogIsOpen">
            <MatDialogTitle>Редактирование информации о @editAppUser.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Фамилия" @bind-Value="@editAppUser.LastName"></MatTextField>
                <MatTextField Label="Имя" @bind-Value="@editAppUser.FirstName"></MatTextField>
                <MatTextField Label="Отчество" @bind-Value="@editAppUser.MidleName"></MatTextField>
                <label>День рождения</label>
                <InputDate @bind-Value="@editAppUser.Birthday"></InputDate>
                <hr />
                <label>Подразделение</label>
                <select class="custom-select" @bind="@editAppUser.DepartmentId">
                    @if (departments is null)
                    {
                        <option selected>(loading...)</option>
                    }
                    else
                    {
                        <option selected>--- Выберите подразделение ---</option>
                        @foreach (var department in departments)
                        {
                            <option value="@department.DepartmentId"> @department.Name</option>
                        }
                    }
                </select>
                <MatTextField Label="Должность" @bind-Value="@editAppUser.WorkingPosition"></MatTextField>
                @if (identityUser.IsInRole(AuthRole.ADMIN))
                {
                    <label>Корпус</label>
                    <select class="custom-select" @bind="@editAppUser.BuildingId">
                        @if (buildings is null)
                        {
                            <option selected>(loading...)</option>
                        }
                        else
                        {
                            <option selected>--- Выберите корпус ---</option>
                            @foreach (var building in buildings)
                            {
                                <option value="@building.BuildingId">@building.Name</option>
                            }
                        }
                    </select>

                    <hr />

                    <MatTextField Label="Кабинет" @bind-Value="@editAppUser.Room"></MatTextField>
                    <MatTextField Label="Внутренний телефон" @bind-Value="@editAppUser.IntPhone"></MatTextField>
                    <MatTextField Label="Городской телефон" @bind-Value="@editAppUser.ExtPhone"></MatTextField>
                    <label>Активная учетная запись</label>
                    <MatSlideToggle @bind-Checked="@editAppUser.IsActive"></MatSlideToggle>
                    <hr />
                }
                <label>Дежурный</label>
                <MatSlideToggle @bind-Checked="@editAppUser.IsDuty"></MatSlideToggle>
                <hr />
                <MatTextField Label="Моб.телефон" @bind-Value="@editAppUser.MobPhone"></MatTextField>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { editAppUserDialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@(() => UpdateAppUser(editAppUser.AppUserId))" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

<EditForm Model="@LdapUser">
    <MatDialog @bind-IsOpen="@newUserDialogIsOpen">
        <MatDialogTitle>Новый пользователь</MatDialogTitle>
        <MatDialogContent>
            <MatSelect @bind-Value="@LdapUser.UserName" Outlined="true">
                @if (ldapUsers is null)
                {
                    <MatOption Value="">(loading...)</MatOption>
                }
                else
                {
                    <MatOption Value="-1" Disabled="true">--- Выберите пользователя ---</MatOption>
                    @foreach (var user in ldapUsers)
                    {
                        <MatOption Value="@user.UserName">@user.DisplayName</MatOption>
                    }
                }
            </MatSelect>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Icon="undo" OnClick="@(e => { newUserDialogIsOpen = false; })" Label="Отмена" />
            <MatButton Icon="check" Type="submit" OnClick="@AddAccount" Label="Добавить" />
        </MatDialogActions>
    </MatDialog>
</EditForm>
