@page "/usermanager"

@attribute [Authorize(Roles = "pku_admins")]
@inject HttpClient HttpClient


<h2 class="col-12 mb-4 text-center"> Редактирование пользователей</h2>

@if (users == null)
{
    <div class="spinner-border text-primary text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else if (users.Count == 0)
{
    <div class="card border-danger mb-3">
        <div class="card-body">
            <p class="card-text">No users...</p>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ф.И.О</th>
                <th scope="col">Должность</th>
                <th scope="col">День рождения</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var user in users)
        {
            var id = user.AppUserId;
            <tr>
                <td>@user.DisplayName</td>
                <td>@user.WorkingPosition</td>
                <td>@user.Birthday.ToShortDateString()</td>
                <td><MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenDialog(id))" Label="Редактировать" /></td>
            </tr>
        }
    </table>
}

@if (editUser != null)
{
    <EditForm Model="@editUser">
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>День рождения @editUser.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <p>Укажите должность</p>
                <InputText @bind-Value="@WorkingPosition"></InputText>
                <p>Выберите дату</p>
                <InputDate @bind-Value="@BirthDate"></InputDate>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { dialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@OkClick" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

@code {

    List<AppUser> users { get; set; }
    AppUser editUser { get; set; }
    protected int AppUserId { get; set; } = 0;
    protected DateTime? BirthDate { get; set; }
    protected string WorkingPosition { get; set; }

    bool dialogIsOpen = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task DoSomething()
    {
        var user = (await authenticationStateTask).User;
        user.Claims.Where(c => c.Type == ClaimTypes.WindowsAccountName).Select(c => c.Value).FirstOrDefault();
    }

    protected async override Task OnInitializedAsync()
    {
        users = await HttpClient.GetJsonAsync<List<AppUser>>("api/users/all");
    }

    void OpenDialog(int id)
    {
        dialogIsOpen = true;
        editUser = null;
        AppUserId = id;
        editUser = users.Where(u => u.AppUserId == AppUserId).FirstOrDefault();
        BirthDate = editUser.Birthday;
        WorkingPosition = editUser.WorkingPosition;
    }

    async Task OkClick()
    {
        dialogIsOpen = false;
        editUser.Birthday = BirthDate.Value;
        editUser.WorkingPosition = WorkingPosition;
        await HttpClient.PutJsonAsync<AppUser>($"api/users/update/{editUser.AppUserId}", editUser);
    }

}