@page "/usermanager"

@attribute [Authorize(Roles = "pku_admins, admin")]
@inject HttpClient HttpClient


<h2 class="col-12 mb-4 text-center"> Редактирование пользователей</h2>

@if (users == null)
{
    <div class="spinner-border text-primary text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else if (users.Count == 0)
{
    <div class="card border-danger mb-3">
        <div class="card-body">
            <p class="card-text">No users...</p>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ф.И.О</th>
                <th scope="col">Должность</th>
                <th scope="col">День рождения</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var user in users)
        {
            var id = user.AppUserId;

            @if (user.IsDuty)
            {
                TrCssClass = "table-danger";
            }
            else
            {
                TrCssClass = null;
            }

            <tr class="@TrCssClass">
                <td>@user.DisplayName</td>
                <td>@user.WorkingPosition</td>
                <td>@user.Birthday.ToShortDateString()</td>
                <td><MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenDialog(id))" Label="Редактировать" /></td>
            </tr>
        }
    </table>
}

@if (editUser != null)
{
    <EditForm Model="@editUser">
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>День рождения @editUser.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Фамилия" @bind-Value="@editUser.LastName"></MatTextField>
                <MatTextField Label="Имя" @bind-Value="@editUser.FirstName"></MatTextField>
                <MatTextField Label="Отчество" @bind-Value="@editUser.MidleName"></MatTextField>
                <MatTextField Label="Должность" @bind-Value="@editUser.WorkingPosition"></MatTextField>
                <MatTextField Label="Телефон" @bind-Value="@editUser.IntPhone"></MatTextField>
                <p>День рождения</p>
                <InputDate @bind-Value="@editUser.Birthday"></InputDate>
                <hr />
                <p>Дежурный</p>
                <MatCheckbox @bind-Checked="@editUser.IsDuty"></MatCheckbox>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { dialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@OkClick" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

@code {

    List<AppUser> users { get; set; }
    AppUser editUser { get; set; }
    protected int AppUserId { get; set; } = 0;

    string TrCssClass;
    bool dialogIsOpen = false;

    protected async override Task OnInitializedAsync()
    {
        users = await HttpClient.GetJsonAsync<List<AppUser>>("api/users/all/active");
    }

    void OpenDialog(int id)
    {
        dialogIsOpen = true;
        AppUserId = id;
        editUser = users.Where(u => u.AppUserId == AppUserId).FirstOrDefault();
    }

    async Task OkClick()
    {
        dialogIsOpen = false;
        await HttpClient.PutJsonAsync<AppUser>($"api/users/update/{editUser.AppUserId}", editUser);
    }
}