@page "/user/{appUserId}"

@using System.IO
@using Newtonsoft.Json

@inject HttpClient HttpClient
@inject IFileReaderService fileReaderService


<div class="row">
    @if (user != null)
    {
        @if (identityUserId == user.AppUserId)
        {
            <div class="col-4">
                <div class="card">
                    <img src="@user.PhotoUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@user.DisplayName</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><MatIcon Icon="business_center" /><span class="ml-2">@user.WorkingPosition</span></li>
                        <li class="list-group-item"><MatIcon Icon="face" /><span class="ml-2">@user.LastName @user.FirstName @user.MidleName</span></li>
                        <li class="list-group-item"><MatIcon Icon="contact_phone" /><span class="ml-2">@user.IntPhone</span></li>
                        <li class="list-group-item"><MatIcon Icon="phone_iphone" /><span class="ml-2">@user.MobPhone</span></li>
                        <li class="list-group-item"><MatIcon Icon="phone" /><span class="ml-2">@user.ExtPhone</span></li>
                        <li class="list-group-item"><MatIcon Icon="meeting_room" /><span class="ml-2">@user.Office</span></li>
                        <li class="list-group-item"><MatIcon Icon="notification_important" /><span class="ml-2">@user.Birthday.ToShortDateString()</span></li>
                    </ul>
                    <div class="card-body">
                        <span class="ml-3"><MatButton Outlined="true" Icon="edit" OnClick="@OpenDialog" Label="Редактировать" /></span>
                    </div>
                </div>
            </div>
            <div class="col-4 border-right">
                @if (user.DaysOfDuty.Any())
                {
                    <h3 class="text-center">Мои дежурства</h3>
                    <table class="table table-striped">
                        @foreach (var duty in user.DaysOfDuty.OrderByDescending(d => d.DayOfDuty))
                        {
                            <tr>
                                <td>@duty.DayOfDuty.ToShortDateString()</td>
                            </tr>
                        }
                    </table>
                }
            </div>
            <div class="col-4">
                @if (user.Articles.Any())
                {
                    <h3 class="text-center">Мои объявления</h3>

                    @foreach (var article in user.Articles.OrderByDescending(d => d.PublishDate))
                    {
                        <div class="card @CssExtension.Border(article) mb-2">
                            <div class="card-body @CssExtension.Text(article)">
                                <h5 class="card-title">@article.Title</h5>
                                <p class="card-text">@article.Content</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="card-text"><small class="text-muted"> @article.PublishDate</small></p>
                                    </div>
                                    @if (article.Attachments.Any())
                                    {
                                        <div class="col-4">
                                            <small class="text-muted">Файлы: <span class="badge badge-pill badge-secondary">@article.Attachments.Count()</span></small>
                                        </div>
                                    }
                                    <a class="stretched-link" href="/article/@article.ArticleId"></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="row">
                <MatButton Outlined="true" Link="/" Label="На главную" Icon="home" />
            </div>
        }
    }
</div>
<div class="row" style="height: 10px;"></div>

@if (user != null)
{
    <EditForm Model="@user">
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>@user.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <img src="@user.PhotoUrl" />
                <MatTextField Label="Фамилия" @bind-Value="@user.LastName"></MatTextField>
                <MatTextField Label="Имя" @bind-Value="@user.FirstName"></MatTextField>
                <MatTextField Label="Отчество" @bind-Value="@user.MidleName"></MatTextField>
                <MatTextField Label="Должность" @bind-Value="@user.WorkingPosition"></MatTextField>
                <MatTextField Label="Внутренний телефон" @bind-Value="@user.IntPhone"></MatTextField>
                <MatTextField Label="Мобильный телефон" @bind-Value="@user.MobPhone"></MatTextField>
                <MatTextField Label="Городской телефон" @bind-Value="@user.ExtPhone"></MatTextField>
                <MatTextField Label="Кабинет" @bind-Value="@user.Office"></MatTextField>

                <div class="alert alert-danger" role="alert">
                    Для профиля желательно изображение размером 400х400px!
                    @if (selectedFiles != null)
                    {
                        foreach (var file in selectedFiles)
                        {
                            var isLoading = file.Data.Position > 0;

                            <div class="row">
                                @if (showInfo)
                                {
                                    <!-- File info -->
                                    <div>
                                        <h2>@file.Name</h2>
                                        Size: <strong>@file.Size bytes</strong>;
                                        Last modified: <strong>@file.LastModified.ToShortDateString()</strong>;
                                        Type: <strong>@file.Type</strong>
                                        <img src="data:image/jpeg;base64,@avatarDescription" alt="Red dot" />

                                    </div>
                                }
                                <button @onclick="() => LoadFileInfo(file)"></button>

                                <!-- Upload button -->
                                <button @onclick="() => LoadFile(file)" disabled="@isLoading">
                                    @if (!isLoading)
                                    {
                                        <span>Load</span>
                                    }
                                    else
                                    {
                                        <span>Loaded @((100.0 * file.Data.Position / file.Size).ToString("0"))%</span>
                                    }
                                </button>
                            </div>
                        }
                    }
                </div>
                <InputFile accept="image/jpeg, image/jpg" OnChange="HandleSelection" />
                <MatTextField Label="Описание" @bind-Value="@avatarDescription"></MatTextField>
                <p>День рождения</p>
                <InputDate @bind-Value="@user.Birthday"></InputDate>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { dialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@OkClick" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

@code {

    [Parameter]
    public string AppUserId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    List<FileUploadViewModel> ListFileUploadVM { get; set; } = new List<FileUploadViewModel>();

    private AppUser user;
    private int identityUserId;
    bool dialogIsOpen = false;
    bool showInfo = false;

    //ElementReference inputElement;

    IFileListEntry[] selectedFiles;

    string avatarFilePath = String.Empty;
    string avatarDescription = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        user = await HttpClient.GetJsonAsync<AppUser>($"api/users/{AppUserId}");

        var identityUser = (await authenticationStateTask).User;
        identityUserId = Int32.Parse(identityUser.Claims.FirstOrDefault(c => c.Type == ClaimTypes.UserData).Value);
    }

    void OpenDialog()
    {
        dialogIsOpen = true;
        avatarFilePath = user.PhotoUrl;
    }

    async Task OkClick()
    {
        dialogIsOpen = false;
        user.PhotoUrl = avatarFilePath;
        await HttpClient.PutJsonAsync<AppUser>($"api/users/update/{user.AppUserId}", user);
    }

    //async Task UploadFile()
    //{
    //    var multipartFormDataContent = new MultipartFormDataContent();
    //    foreach (var file in await fileReaderService.CreateReference(inputElement).EnumerateFilesAsync())
    //    {
    //        multipartFormDataContent.Add(
    //            new StreamContent(await file.OpenReadAsync(), 8192), "files", (await file.ReadFileInfoAsync()).Name);
    //    }

    //    var response = await HttpClient.PostAsync(requestUri: "api/upload/files", content: multipartFormDataContent);
    //    var content = await response.Content.ReadAsStringAsync();
    //    ListFileUploadVM.AddRange(JsonConvert.DeserializeObject<List<FileUploadViewModel>>(content));
    //    avatarFilePath = ListFileUploadVM.First().Path;
    //}

    void HandleSelection(IFileListEntry[] files)
    {
        selectedFiles = files;
    }

    async Task LoadFileInfo(IFileListEntry file)
    {
        if (file != null)
        {
            showInfo = true;
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            var byteArray = ms.ToArray();
            avatarDescription = Convert.ToBase64String(byteArray);
        }
    }

    async Task LoadFile(IFileListEntry file)
    {
        if (file != null)
        {
            var multipartFormDataContent = new MultipartFormDataContent();

            multipartFormDataContent.Add(new StreamContent(file.Data, 1048576), "files", file.Name);
            var response = await HttpClient.PostAsync(requestUri: "api/upload/files", content: multipartFormDataContent);
            var content = await response.Content.ReadAsStringAsync();
            ListFileUploadVM.AddRange(JsonConvert.DeserializeObject<List<FileUploadViewModel>>(content));
            avatarFilePath = ListFileUploadVM.First().Path;
        }
    }

}

