@page "/usermanager"

@attribute [Authorize(Roles = "pku_admins, admin")]
@inject HttpClient HttpClient
@inject IMatToaster Toaster


<h2 class="col-12 mb-4 text-center"> Редактирование пользователей</h2>

@if (Users is null)
{
    <div class="spinner-border text-primary text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else if (Users.Count == 0)
{
    <div class="card border-danger mb-3">
        <div class="card-body">
            <p class="card-text">No users...</p>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ф.И.О</th>
                <th scope="col">Должность</th>
                <th scope="col">День рождения</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var user in Users)
        {
            var id = user.AppUserId;

            @if (user.IsDuty)
            {
                TrCssClass = "table-danger";
            }
            else
            {
                TrCssClass = null;
            }

            <tr class="@TrCssClass">
                <td>@user.DisplayName</td>
                <td>@user.WorkingPosition</td>
                <td>@user.Birthday.ToShortDateString()</td>
                <td><MatButton Outlined="true" Icon="edit" OnClick="@(() => OpenDialog(id))" Label="Редактировать" /></td>
            </tr>
        }
    </table>
}

@if (EditUser is { })
{
    <EditForm Model="@EditUser">
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>День рождения @EditUser.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Фамилия" @bind-Value="@EditUser.LastName"></MatTextField>
                <MatTextField Label="Имя" @bind-Value="@EditUser.FirstName"></MatTextField>
                <MatTextField Label="Отчество" @bind-Value="@EditUser.MidleName"></MatTextField>
                <MatTextField Label="Должность" @bind-Value="@EditUser.WorkingPosition"></MatTextField>
                <MatTextField Label="Телефон" @bind-Value="@EditUser.IntPhone"></MatTextField>
                <p>День рождения</p>
                <InputDate @bind-Value="@EditUser.Birthday"></InputDate>
                <hr />
                <p>Дежурный</p>
                <MatCheckbox @bind-Checked="@EditUser.IsDuty"></MatCheckbox>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { dialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@OkClick" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

@code {

    private List<AppUser> Users { get; set; }
    private AppUser EditUser { get; set; }
    
    int appUserId;
    string TrCssClass;
    bool dialogIsOpen = false;


    protected async override Task OnInitializedAsync()
    {
        Users = await HttpClient.GetJsonAsync<List<AppUser>>("api/users/all/active");
    }

    void OpenDialog(int id)
    {
        dialogIsOpen = true;
        appUserId = id;
        EditUser = Users.FirstOrDefault(u => u.AppUserId == appUserId);
    }

    async Task OkClick()
    {
        dialogIsOpen = false;
        var response = await HttpClient.PutJsonAsync<AppUser>($"api/users/update/{EditUser.AppUserId}", EditUser);
        Toaster.Add($"Информация пользователя {response.DisplayName} успешно обновлена", MatToastType.Success, "Успех!");
    }
}