@page "/user/{appUserId}"

@using System.IO

@inject HttpClient HttpClient
@inject IFileReaderService fileReaderService


<div class="row">
    @if (user != null)
    {
        @if (identityUserId == user.AppUserId)
        {
            <div class="col-4">
                <div class="card">
                    <img src="@user.PhotoUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@user.DisplayName</h5>
                        <p class="card-text">@user.WorkingPosition</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@user.LastName</li>
                        <li class="list-group-item">@user.FirstName</li>
                        <li class="list-group-item">@user.MidleName</li>
                        <li class="list-group-item"><MatIcon Icon="contact_phone" />@user.IntPhone</li>
                        <li class="list-group-item"><MatIcon Icon="phone_iphone" />@user.MobPhone</li>
                        <li class="list-group-item"><MatIcon Icon="phone" />@user.ExtPhone</li>
                        <li class="list-group-item"><MatIcon Icon="room" />@user.Office</li>
                    </ul>
                    <div class="card-body">
                        <MatButton Outlined="true" Icon="edit" OnClick="@OpenDialog" Label="Редактировать" />
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (user.DaysOfDuty.Any())
                {

                    @foreach (var duty in user.DaysOfDuty)
                    {
                        <h2>Мои дежурства</h2>
                        <table class="table table-striped">
                            <tr>
                                <td>@duty.DayOfDuty.ToShortDateString()</td>
                            </tr>
                        </table>
                    }

                }
            </div>
            <div class="col-4">
                @if (user.Articles.Any())
                {
                    @foreach (var article in user.Articles)
                    {
                        <h2>Мои новости</h2>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>@article.Title</td>
                                <td>@article.Content</td>
                                <td>@article.PublishDate.ToShortDateString()</td>
                            </tr>
                        </table>
                    }
                }
            </div>
        }
        else
        {
            <div class="row">
                <MatButton Outlined="true" Link="/" Label="На главную" Icon="home" />
            </div>
        }
    }
</div>
<div class="row" style="height: 10px;"></div>

@if (user != null)
{
    <EditForm Model="@user">
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>@user.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <MatTextField Label="Фамилия" @bind-Value="@user.LastName"></MatTextField>
                <MatTextField Label="Имя" @bind-Value="@user.FirstName"></MatTextField>
                <MatTextField Label="Отчество" @bind-Value="@user.MidleName"></MatTextField>
                <MatTextField Label="Должность" @bind-Value="@user.WorkingPosition"></MatTextField>
                <MatTextField Label="Внутренний телефон" @bind-Value="@user.IntPhone"></MatTextField>
                <MatTextField Label="Мобильный телефон" @bind-Value="@user.MobPhone"></MatTextField>
                <MatTextField Label="Городской телефон" @bind-Value="@user.ExtPhone"></MatTextField>
                <MatTextField Label="Кабинет" @bind-Value="@user.Office"></MatTextField>
                <MatTextField Label="Фото" Disabled="true" @bind-Value="@uploadFilePath"></MatTextField>
                <div class="alert alert-danger" role="alert">
                    Для профиля желательно квадратное изображение размером 400х400!
                </div>
                <input type="file" accept="image/x-png, image/jpg, image/jpeg" @ref=inputElement @onchange="UploadFile" />
                <p>День рождения</p>
                <InputDate @bind-Value="@user.Birthday"></InputDate>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { dialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@OkClick" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}

@code {

    [Parameter]
    public string AppUserId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private AppUser user;
    private int identityUserId;
    bool dialogIsOpen = false;


    //string imageData = String.Empty;
    ElementReference inputElement;
    string uploadFilePath = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        user = await HttpClient.GetJsonAsync<AppUser>($"api/users/{AppUserId}");

        var identityUser = (await authenticationStateTask).User;
        identityUserId = Int32.Parse(identityUser.Claims.FirstOrDefault(c => c.Type == ClaimTypes.UserData).Value);

    }

    void OpenDialog()
    {
        dialogIsOpen = true;
        uploadFilePath = user.PhotoUrl;
    }

    async Task OkClick()
    {
        dialogIsOpen = false;
        user.PhotoUrl = uploadFilePath;
        await HttpClient.PutJsonAsync<AppUser>($"api/users/update/{user.AppUserId}", user);

    }

    async Task UploadFile()
    {
        var files = await fileReaderService.CreateReference(inputElement).EnumerateFilesAsync();

        using (MemoryStream memoryStream = await files.First().CreateMemoryStreamAsync())
        {
            byte[] bytes = memoryStream.ToArray();

            //var imageData = $"data:image/jpg;base64,{Convert.ToBase64String(bytes)}";
            var response = await HttpClient.PostAsync(requestUri: "api/upload/avatar", content: new ByteArrayContent(bytes));
            uploadFilePath = await response.Content.ReadAsStringAsync();
        }
    }
}
