@page "/user/{AppUserId:int}"

@attribute [Authorize(Roles = AuthRole.ANY)]


<div class="row">
    @if (user is { })
    {
        <div class="col-4">
            <div class="card">
                <img src="@user.Avatar" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@user.DisplayName</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><MatIcon Icon="notification_important" /><span class="ml-2">@user.Birthday.ToShortDateString()</span></li>
                    <li class="list-group-item"><MatIcon Icon="face" /><span class="ml-2">@user.LastName @user.FirstName @user.MidleName</span></li>
                    <li class="list-group-item"><MatIcon Icon="work" /><span class="ml-2">@user.Department?.Name</span></li>
                    <li class="list-group-item"><MatIcon Icon="business_center" /><span class="ml-2">@user.WorkingPosition</span></li>
                    <li class="list-group-item"><MatIcon Icon="location_city" /><span class="ml-2">@user.Building?.Name</span></li>
                    <li class="list-group-item"><MatIcon Icon="meeting_room" /><span class="ml-2">@user.Room</span></li>
                    <li class="list-group-item"><MatIcon Icon="contact_phone" /><span class="ml-2">@user.IntPhone</span></li>
                    <li class="list-group-item"><MatIcon Icon="phone" /><span class="ml-2">@user.ExtPhone</span></li>
                    <li class="list-group-item"><MatIcon Icon="phone_iphone" /><span class="ml-2">@user.MobPhone</span></li>
                </ul>
                @if (identityUserId == user.AppUserId)
                {
                    <div class="card-body">
                        <span class="ml-3"><MatButton Outlined="true" Icon="edit" OnClick="@OpenDialog" Label="Редактировать" /></span>
                    </div>
                }
            </div>
        </div>
        <div class="col-4 border-right">

            @if (user.Articles.Any())
            {
                <h3 class="text-center">Мои объявления</h3>

                @foreach (var article in user.Articles.OrderByDescending(d => d.PublishDate))
                {
                    <div @key="article" class="card @CssExtension.Border(article) mb-2">
                        <div class="card-body @CssExtension.Text(article)">
                            <h5 class="card-title">@article.Title</h5>
                            <span class="card-text">
                                <MarkdownView Content="@article.Content.Truncate(140)" />
                            </span>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text"><small class="text-muted">Опубликовано: @article.PublishDate</small></p>
                                    @if (article.UpdateDate.HasValue)
                                    {
                                        <small class="text-muted">Обновлено: @article.UpdateDate.Value</small>
                                    }
                                </div>
                                @if (article.Attachments.Any())
                                {
                                    <div class="col-4">
                                        <small class="text-muted">Файлы: <span class="badge badge-pill badge-secondary">@article.Attachments.Count()</span></small>
                                    </div>
                                }

                                <MatButton Icon="remove_red_eye" Link="@($"/article/show/{article.ArticleId}")" />
                                @if (identityUserId == user.AppUserId)
                                {
                                    <MatButton Icon="edit" Link="@($"/article/edit/{article.ArticleId}")" />
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-4">
            @if (user.DaysOfDuty.Any())
            {

                <h3 class="text-center">Мои дежурства</h3>
                <table class="table table-striped">
                    @foreach (var duty in user.DaysOfDuty.OrderByDescending(d => d.DayOfDuty))
                    {
                        <tr @key="duty">
                            <td>@duty.DayOfDuty.ToShortDateString()</td>
                        </tr>
                    }
                </table>
            }
        </div>

    }
</div>
<div class="row" style="height: 10px;"></div>

@if (user is { })
{
    <EditForm Model="@user">
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>Профиль @user.DisplayName</MatDialogTitle>
            <MatDialogContent>
                <div class="alert alert-danger mb-2" role="alert">
                    <img class="img-thumbnail img-fluid" src="@user.Avatar" />
                    <p>Для профиля желательно изображение размером 400х400px!</p>
                    @if (AvatarFileInfoVM is { })
                    {
                        <table class="table">
                            <tr>
                                <td><img src="@CssExtension.Img(AvatarFileInfoVM.Type)" /></td>
                                <td>@AvatarFileInfoVM.Name</td>
                                <td>@AvatarFileInfoVM.Size</td>
                            </tr>
                        </table>
                        <hr />
                        <div class="col-12">
                            <button @onclick="ClearFileInfo" class="btn btn-primary mr-2">Очистить</button>
                            <button @onclick="UploadFile" class="btn btn-primary">Загрузить</button>
                        </div>
                        <hr />
                    }
                    <input type="file" accept="@StringExtension.ACCEPT_IMAGES" @ref="inputElement" />
                    <MatButton Raised="true" OnClick="ShowFileInfo" Label="Добавить" />
                </div>

                <MatTextField Label="Фамилия" @bind-Value="@user.LastName"></MatTextField>
                <MatTextField Label="Имя" @bind-Value="@user.FirstName"></MatTextField>
                <MatTextField Label="Отчество" @bind-Value="@user.MidleName"></MatTextField>
                <MatTextField Label="Мобильный телефон" @bind-Value="@user.MobPhone"></MatTextField>
                <label>День рождения</label>
                <InputDate @bind-Value="@user.Birthday"></InputDate>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton Icon="undo" OnClick="@(e => { dialogIsOpen = false; })" Label="Отмена" />
                <MatButton Icon="save" Type="submit" OnClick="@OkClick" Label="Сохранить" />
            </MatDialogActions>
        </MatDialog>
    </EditForm>
}